body {
    font: normal 1.2em Arial, Verdana, Serif;
    background-image: linear-gradient(-90deg, blue, white, aqua);
}

h1 {
    text-align: center;
}

p {
    color: blueviolet;
    font-size: 1.5em;
    text-align: justify;
    text-indent: 32px;
}