*{
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: darkgray;
}

section {
   padding-top: 10vh;
   padding-bottom: 10vh; 
   line-height: 2em;
}

.normal {
    background-color: #fff;
    color: #000;
}

.imagem {
    background-color: #00000085;
    color: #fff;
}

.imagem > p {
    background-color: #00000057;
    width: 400px;
}