body {
    margin: 0px;
}

footer {
    background-color: rgb(154, 154, 235);
    text-align: center;
    padding: 5px;

    margin: 0px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

footer > p {
    margin: 0px;
}